*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;

  --gap: 30px;
  --gap-half: calc(var(--gap) / 2);
  --accent: #a7b2f0;
  --accent-light: #c5ccf1;
  --accent-2: #919de4;
  --accent-medium: hsl(231, 71%, 85%);
  --accent-light: hsl(231, 71%, 88%);
  --shadow: #6666664b;
}

header {
  width: 100%;
  background-color: white;

  border-radius: 0 0 1rem 1rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--accent);
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--accent);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  margin: 0 15%;
  gap: var(--gap);

  background-color: whitesmoke;
}

main {
  width: 90%;
  height: 100%;
  background-color: white;

  min-width: min-content;
  min-height: min-content;

  display: flex;
  flex-direction: column;
  gap: var(--gap-half);

  padding: 1rem;
  border-radius: 1rem;
}

#add-book-btn {
  padding: 0.5rem;

  width: 25%;
  align-self: center;

  border: 0;
  border-radius: 0.4rem;
  outline: 0;
  background-color: var(--accent);
  color: white;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  height: 100%;

  display: grid;
  gap: var(--gap-half);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
}

#book-main-container {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 4fr;

  font-size: 1.3rem;
}

.book-title-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.book-author-label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.book-status-label {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.book-buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.book-remove-button,
.book-read-button {
  right: 1rem;
  bottom: 1rem;

  background-color: var(--accent);
  border: 0;
  outline: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;

  width: 40%;
}

.book-remove-button svg {
  height: 100%;
  fill: white;
}

.book-remove-button {
  padding: 0.38rem;
  background-color: hsl(0, 63%, 70%);
  width: max-content;
}

#add-book-btn:hover,
#add-book-btn:focus-visible,
button:hover,
button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid var(--accent-light);
}

.book-read-button:active {
  outline-offset: 1px;
  outline: 1px solid var(--accent-medium);
}

.book-remove-button:hover,
.book-remove-button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid hsl(0, 63%, 83%);
}

.book-remove-button:active {
  outline-offset: 1px;
  outline: 1px solid hsl(0, 63%, 81%);
}

li {
  background-color: hsl(231, 31%, 96%);
  padding: 1rem;
  border-radius: 0.5rem;
  color: hsl(231, 10%, 42%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

footer {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;

  padding: 0.3rem;
}

a {
  outline: 0;
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  border-radius: 0.2rem;
  outline: 1px solid var(--accent-medium);
}

#add-book-dialog {
  padding: 2.2rem;
  border: 2px solid var(--accent);
  border-radius: 0.5rem;

  /* width: clamp(35%, 15%, 25%);
  height: calc(max-content + 35%); */

  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  box-shadow: 0 0 25px 2px var(--shadow);
}

#add-book-dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

::backdrop {
  background-color: #000;
  opacity: 0.17;
}

.close-add-book-dialog-container {
  width: 100%;
}

#close-add-book-dialog {
  width: 100%;
}

#add-book-dialog form legend {
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--accent-2);
}

#add-book-dialog form label {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--accent);
}

#add-book-dialog form input[type='text'] {
  border: 0;
  border-bottom: 1px solid var(--shadow);

  padding: 0.5rem;
}

#add-book-dialog form input[type='text']:focus-visible {
  outline: 0;

  border-color: var(--accent);
}

.input-container.chk-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1rem; */
}

#add-book-dialog form input[type='checkbox'] {
  margin: 0;
  padding: 0;

  width: 1em;
  height: 1em;

  accent-color: var(--accent);
  appearance: none;

  border: 1px solid var(--accent-2);
  border-radius: 0.15rem;

  overflow: hidden;

  position: relative;
}

#add-book-dialog form input[type='checkbox']:focus-visible {
  outline: 1px solid var(--accent-light);
  outline-offset: 2px;
}

#add-book-dialog form input[type='checkbox']::after {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  overflow: hidden;
  /* border-radius: 0.1rem; */
}

#add-book-dialog form input[type='checkbox']:checked::after {
  background-color: var(--accent);
  transition: 250ms;
}

#add-book-dialog form button {
  margin-top: 1.5rem;

  background-color: var(--accent);
  color: white;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.4rem;
}
